@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
* {
    box-sizing: border-box;
}

footer,header,nav,main,body
{
    display:block;
}

body{
    margin:0;
    padding:0;
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column;
    align-items:center;
    width:100%;
    height:100%;
    font-family:Helvetica;
    font-size: 18px;
    background-image: url(/final-project//pictures/making-step2color.gif);
   
}

header{
    width:100%;
}

header h1{
    text-align: center;
    color:saddlebrown;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    width:100%;
}

.title{
    padding-left: 0px;
    text-align: center;
}

.topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: skyblue;
        display: flex;
}

.topnav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
}


.topnav li a:hover:not(.active) {background-color: darkgray;}


li{
  
    list-style-type: none;    
}

/************* link ************************/
li a:link{
    text-decoration: none;
    color: #47556F;
}

li a:visited {
    color: darkred;
}

li a:hover{
    color:black;
}
/*************************************/

h1{
    font-family: Sansita, "second choice", generic-family;
}

#welcome1{
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-style: italic;
    color:darkblue;  
    font-size: 1.2em;
}

#welcome2{
    color:darkslategrey;
}

.box{
    display: flex;
    padding-top: 30px;
}

.box2{
    display: flex;
    
    justify-content: center;
    padding-top: 20px;
    
}

.img{
padding-right: 10px;
    display: flex;
    align-items: center;
}



.googleMap {
    width:50%;
}

.map{
    width:50%;
}

#direction{
    text-align: left;
}

.prize{
    width:100%; 
    display: flex;
    color: darkviolet;
    font-weight: bold;
    flex-wrap: wrap;
}

.prize p{
    width:80%;
}

.prize img{
    padding-bottom: 10px;
}
.box3{
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}

.box3 h3{
        color:darkblue;
}

main{
    width:100%;
    text-align: center;    
}


.greeting {
    text-align: left;
}

.script{
    display: none;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    position:fixed;
    bottom:0;
}
.copyright{
    
    width:100%;
}
.home a {
    padding-left: 10px;
}

.home a:hover:not(.active) {color: darkorchid;}


/*
the li a: can change the style when we interact with the links.
*/
@media (min-width:720px){

    ul.topnav{
        flex-direction: row;
    }
       
    #welcome{
    text-align: inherit;
    }
    .title{
        text-align: left
    }
    
    header ul{
        position: static;
        justify-content: space-around;
    }
    body {
        width: 80%;
        margin: auto;
    }
   
}

@media (min-width:900px){
    
    .script{
    display: flex;
    align-items: center;
    }
}
.schedule{
    display: flex;
    flex-direction: column; 
}
table, th, td {
    border: 1px solid black;
}

@media (max-width:1000px){
    .googleMap{
        display: none;
    }
    .map{
        width:100%;
    }
    .map img{
        width: 480px;
        height: 360px
    }
    .box3 p{
        width:70%;
    }
}
@media (max-width:600px){
    .box{
        padding-top: 0px;
    }
    .box3{
        padding-top: 0px;
    }
    
    .map{
        width:100%;
    }
    
    .map img{
        width: 480px;
        height: 360px;
    }

    .box3 p{
        width:60%;
    }
    
    .title h1{
        font-size: 30px;
    }
}