@import url('https://fonts.googleapis.com/css?family=Sansita');
* {
    box-sizing: border-box;
}

footer,header,nav,main,body
{
    display:block;
}
h1,h2{
    font-family: Sansita, "second choice", generic-family;
}

p{
    font-family:Helvetica;
}

.title{
    display: flex;
}

header{
    width:100%;
    color:white;
}

header h2 {
    font-size: 20px;
    text-align: right;
    margin-top:-20px;
    margin-right: 15%;
}

header img{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px; 
}

.navBar{
    background-color: bisque;
    margin-bottom:0;
}

body{
    margin:0;
    padding:0;
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column;
    align-items:center;
    width:100%;
    height: 100%;
    font-family:Helvetica;
    font-size: 18px;
    background-image: url(/Greenville/pexels-photo-373430.jpeg);
    background-size: cover;
}

main{
    width:100%;
    height: 600px;
    text-align: center;    
}

.box{
    display: flex;
    flex-direction: column;
    height:100%;
    width:90%;
    margin: .2em auto;
    justify-content: space-around;
    
}

.overview{
    display:flex;
    text-align: center;
    background-color:rgba(256,256,256,.6);
    border: 2px solid;
    border-color:gold;
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

#fr{
    margin-top: 15px;
    color: brown;
    width: 100%;
    font-size:1.5em;
}

#currentT{
    font-size: 1.5em;
}

#highnlow{
    align-self: center;
}

.hourlyForecast{
    display: none;
}

.current{
    display: flex;
    display:block;
    background-color:rgba(230,230,230,.6);
    border: 2px solid;
    border-color:gold;
    border-radius: 20px;
    margin-top: -50px;
    order:0;
}

#realtemp{
    display:flex;
    justify-content:center;
    margin:10px;
    padding:0;
}

.wind{
    display:flex;
    justify-content:center;
    height:130px;
}

#wind_Precipitation{
    display:flex;
    text-align: right;
    flex-direction: column;
    justify-content:space-between;
    padding-top:15px;
    margin-bottom: -5px;
    font-size: 15px;
}

#wind_wind{
    margin-top:0;
}

#wind_condition{
    text-align: left;
    justify-content: space-around;
    padding-left: 30px;
}

footer{
    width:100%;
    height:60px;
    background-color: bisque;
    position:fixed;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}

.copyright{
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.home{
    padding-left: 15px;
}

links{
    text-align: center;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    width:100%;
}

li{
    margin:5px;
    list-style-type: none;    
}

.home a:visited {
    color:fuchsia;
}

.home a:hover{
   color:lawngreen; 
}

li a:link{
    text-decoration: none;
    color: #47556F;
}

li a:visited {
    color: darkred;
}

li a:hover{
    color:red;
}

@media (min-width:550px){
    
    .hourlyForecast{
        display:block;
        background-color:rgba(230,230,230,.6);
        border: 2px solid;
        border-color:gold;
        border-radius: 20px;
        order:2;
    }
     header ul{
        justify-content: space-around;
    }
    
    body {
        width: 80%;
        max-width: 900px;
        height:100%;
        margin: auto;
    }
    
    .box{
        height:500px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
  
    .overview{
        height:30%;
        width:100%;
    }
    
    .hourlyForecast ul{
        list-style-type: none;
        padding-left: 0;
        max-height: 12em;
        overflow: auto;
        text-align: center;
    }
    #currentT{
        height:30px;
         align-self: center;
    }
    
    .current{
        height: 60%;
        width:48%;
        margin-top:0;
    }
    .hourlyForecast{
        width:48%;
        height:60%;
    }
    
    footer{
        width:80%;
    }
}















