@import url('https://fonts.googleapis.com/css?family=Mogra');
@import url('https://fonts.googleapis.com/css?family=Signika');
/*
We imported two fonts from the goolge fonts.
*/
.heading-font p{
    font-family: 'Signika', sans-serif;
}
.body-font p{
    font-family: 'Mogra', cursive;
}
/*
The code above assigns two different fonts to the content so that the client can take a look of what kind of font we are going to use.
*/
.greenville_redesign h2 {
    font-size: 2em;
    color: blueviolet;
}
.headerStyle h2 {
    color: red;
    width: 300px;
    background-color:blanchedalmond ;
}
h3 {
    font-size: 25px;
    color: darkorange;
}
/* 
We make all h3 headers to be 25px big and the color to darkorange.
*/
.screen {
    font-size: 23px;
    color: darkorange;
}

.colors {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.color-swatch {
    border: 1px solid;
    border-radius: 10px;
    flex: 0 1 25%;
}
.color-swatch__color {
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0 0;
}
.color-swatch__primary {
    background-color: #CC40FF;
}
.color-swatch__secondary {
    background-color: #554BFF;
}
.color-swatch__description {
    padding: .5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* 
For the color family, we use CSS to give the client a example of the color theme we are going to use.
*/
.navBar{
    display: flex;
    background-color: #CC40FF;
    width: 400px;
}
nav{
    background-color:white;
}
li{
    list-style-type: none; 
    padding: 5px;
}
/*
We use the list-style-color property to cancel the dot in front of the list.
*/
