* {
    box-sizing: border-box;
}

footer,header,nav,main,body
{
    display:block;
}
/*
Display:block makes the content be be displayed as blocks.
*/
body{
    margin:0;
    padding:0;
    background-color:salmon;
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column;
    align-items:center;
    width:100%;
    height:100%;
}
/*
This style with the body part is for the whole page except for the header
and the footer. It makes all the content boxes to be aligned to center fo the page.
*/
main{
    width:260px;
    text-align: center;
}

header h2 {
    font-size: 20px;
    margin-top:-20px;
    text-align:right;
    width:110%;
}
/*
Within the header-h2 style, it makes the "Local Weather"
closer to the "Feeling Lucky", and align to the right.
*/

.overview{
    text-align: center;
    font-size:12px;
}

.temp{
    text-align: center;
    flex-direction: column;
}

#highnlow{
    margin:0;
}

#realtemp{
    display:flex;
    justify-content:space-around;
    margin:10px;
    padding:0;
}

.condition{
    text-align:left;
}

.wind{
    display:flex;
    justify-content:space-between;
    height:130px;
}

#wind_Precipitation{
    display:flex;
    text-align: right;
    flex-direction: column;
    justify-content:space-around;
}
/*
In the #wind-Precipitation, it helps wind and precipitation to ba aligned to the right together, so the colon can be lined up.
*/
#wind_wind{
    margin-top:0;
}

#wind_p{
    margin-top:0;
}

#wind_condition{
    text-align: left;
}

.copyright{
    margin-top: 40px;
    display:flex;
    width:415.5px;
    justify-content:space-around;
    align-content: center;
}

links{
    text-align: center;
}

ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

li{
    margin:10px;
    list-style-type: none;
}
/*
The list-style-type can makes the bullet points disoppear or to other styles..
*/